Repository GoogleCloudPlatform/deploymentmanager-samples, pull requests merged in 2019-05, with the labels that each got.

#442 Fixes property name in healthcheck template example
  community/cloud-foundation/templates/healthcheck/examples/healthcheck.yaml
Labels: bug, cloud-foundations

#451 Add comma after 'masterAuthorizedNetworksConfig' in GKE template
  community/cloud-foundation/templates/gke/gke.py
Labels: cloud-foundations

#432 Adding istio and CloudRun addon support for CFT GKE Schema
  community/cloud-foundation/templates/gke/gke.py.schema
Labels: cloud-foundations, enhancement

#453 Add clustering to BigQuery tables configuration
  community/cloud-foundation/templates/bigquery/bigquery_table.py
  community/cloud-foundation/templates/bigquery/bigquery_table.py.schema
Labels: cloud-foundations

#457 Add numeric data type support to BigQuery tables
  community/cloud-foundation/templates/bigquery/bigquery_table.py.schema
Labels: cloud-foundations
