Repository GoogleCloudPlatform/deploymentmanager-samples, pull requests merged in 2019-03, with the labels that each got.

#390 Fix unnecessary text
  quickstart.md
Labels: bug

#394 update enum of instance configs for cloud_spanner
  community/cloud-foundation/templates/cloud_spanner/cloud_spanner.py.schema
Labels: cloud-foundations

#407 CFT CloudDNS GCP-types support - remove of actions
  community/cloud-foundation/templates/dns_records/dns_records.py
  community/cloud-foundation/templates/dns_records/tests/integration/dns_records.bats
Labels: Feature Request, cloud-foundations

#408 Hierarchical config typo
  community/hierarchical_configuration/Basic/configs/project_config.py
  community/hierarchical_configuration/yaml_edition/configs/project_config.yaml
Labels: bug

#409 CFT - example solutions, IAM_member binding update
  community/cloud-foundation/CHANGELOG.md
  community/cloud-foundation/example-solutions/wrapper-template/README.md
  community/cloud-foundation/example-solutions/wrapper-template/folders-wrapper.py
  community/cloud-foundation/example-solutions/wrapper-template/folders-wrapper.py.schema
  community/cloud-foundation/example-solutions/wrapper-template/generic-wrapper.py
  community/cloud-foundation/example-solutions/wrapper-template/generic-wrapper.yaml
  community/cloud-foundation/templates/iam_member/README.md
  community/cloud-foundation/templates/iam_member/iam_member.py
Labels: cloud-foundations, enhancement

#410 CFT: project template IAM_member update
  community/cloud-foundation/CHANGELOG.md
  community/cloud-foundation/templates/iam_member/iam_member.py
  community/cloud-foundation/templates/iam_member/iam_member.py.schema
  community/cloud-foundation/templates/iam_member/tests/integration/iam_member.bats
  community/cloud-foundation/templates/project/README.md
  community/cloud-foundation/templates/project/project.py
  community/cloud-foundation/templates/project/project.py.schema
Labels: bug, cloud-foundations
